<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HttpEndPointBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="HttpEndPointBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://misapi.ercot.com/2007-08/Nodal/eEDS/EWS/"
                binding="basicHttpBinding" bindingConfiguration="HttpEndPointBinding"
                contract="ErcotNodalService.Operations" name="HttpEndPoint" />
        </client>
    </system.serviceModel>
</configuration>